@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('fonts/dejavusansmono-webfont.woff2') format('woff2'),
         url('fonts/dejavusansmono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('fonts/dejavusansmono-bold-webfont.woff2') format('woff2'),
         url('fonts/dejavusansmono-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('fonts/dejavusansmono-oblique-webfont.woff2') format('woff2'),
         url('fonts/dejavusansmono-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: oblique;

}


@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('fonts/dejavusansmono-boldoblique-webfont.woff2') format('woff2'),
         url('fonts/dejavusansmono-boldoblique-webfont.woff') format('woff');
    font-weight: 700;
    font-style: oblique;
}


/*Hat tip to @thierrykoblentz for this approach: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}

/*Yes, the universal selector. No, it isn't slow: https://benfrain.com/css-performance-revisited-selectors-bloat-expensive-styles/*/
* {
    /*This prevents users being able to select text. Stops long presses in iOS bringing up copy/paste UI for example. Note below we specifically switch user-select on for inputs for the sake of Safari. Bug here: https://bugs.webkit.org/show_bug.cgi?id=82692*/
    user-select: none;
    /*This gets -webkit specific prefix as it is a non W3C property*/
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    /*Older Androids need this instead*/
    -webkit-tap-highlight-color: transparent;
    /* Most devs find border-box easier to reason about. However by inheriting we can mix box-sizing approaches.*/
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

/* Switching user-select on for inputs and contenteditable specifically for Safari (see bug link above)*/
input[type],
[contenteditable] {
  user-select: text;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    /*We will be adding our own margin to these elements as needed.*/
    margin: 0;
    /*You'll want to set font-size as needed.*/
    font-size: 1rem;
    /*No bold for h tags unless you want it*/
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

/*No bold for b tags by default*/
b {
    font-weight: 400;
}

/*Prevent these elements having italics by default*/
em,
i {
    /*font-style: normal;*/
}

/*Mozilla adds a dotted outline around a tags when they receive tab focus. This removes it. Be aware this is a backwards accessibilty step!*/
a:focus {
    outline: 0;
}

input,
fieldset {
    appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    /*inputs and fieldset defaults to having a min-width equal to its content in Chrome and Firefox (https://code.google.com/p/chromium/issues/detail?id=560762), we may not want that*/
    min-width: 0;
    /*Reset the font size and family*/
    font-size: 1rem;
    font-family: inherit;
}

/* For IE, we want to remove the default cross ('X') that appears in input fields when a user starts typing - Make sure you add your own! */
input::-ms-clear {
    display: none;
}

/*This switches the default outline off when an input receives focus (really important for users tabbing through with a keyboard) so ensure you put something decent in for your input focus instead!!*/
input:focus {
    outline: 0;
}

input[type="number"] {
    /*Mozilla shows the spinner UI on number inputs unless we use this:*/
    -moz-appearance: textfield;
}

/*Removes the little spinner controls for number type inputs (WebKit browsers/forks only)*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

/*SVG defaults to inline display which I dislike*/
svg {
    display: inline-flex;
}

img {
    /*Make images behave responsively. Here they will scale up to 100% of their natural size*/
    max-width: 100%;
    /*Make images display as a block (UA default is usually inline)*/
    display: block;
}




/*
 *
 */

html {
  -webkit-font-smoothing: antialiased;

  /* base font is fixed */
  font-family: "DejaVu Sans Mono", fixed;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: bolder;
}


/* grid */


html {
  /* font size is dependant on the viewport */
  /* calculations: for "font-size: 1vw=1rem" */

  font-size: 1.8vw;
  line-height: 1.5;
  letter-spacing: -.075vw;
}


h1 {
  font-size: 2rem;
  margin-bottom: .5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;

   }

h3 {
  font-size: 1rem;
  margin-bottom: .5rem;
}

p {
  /* choose which to use - center or move slightly to a left */
  /* margin-left: auto; margin-right: auto;  */

  /*margin-left: 5vw; *//*margin-right: 25vw;*/
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

/*
 * lists
 */


ol {
  padding-left: 3rem;
  margin-bottom: 1.5rem;
}


ul {
  list-style-position: outside;
  list-style-type: square;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

ul li {
  padding-left: .5rem;
}

ol li+li, ul li+li {
  margin-top: .333333rem;
}

/* hr */

hr { 
  border: none; 
  text-align: center;
  margin: 1.5rem 3rem 3rem 3rem;
  }

hr:before { 
  /*content: "-----"; */
  /*content: "-–===–-";*/
  /*content: "— - — — - — - — — -";*/
  content: "— — - — -";
  letter-spacing: .1rem;
}

/* 
 links 
*/

/* fix link */

a:link, header nav a:visited {
  text-decoration: none;
  border-bottom: 1px solid #05A4D5;
  box-sizing: border-box;
  color: #05A4D5; /*#659FBB*/

  box-sizing: content-box;
}


a:hover, a:visited:hover {
  background-color: #05A4D5; 
  color: #fff;
  border-bottom-color: #000;
}

a:visited {
  color: #25205E;
  border-bottom-color: #25205E;
}

/* 
 * code/pre
 */

pre, code {
  /*word-break: break-all; 
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: pre\9; */
  
  overflow: auto;

  margin-bottom: 1.5rem;

  font-family: "DejaVu Sans Mono", fixed;
  letter-spacing: 0;

}

pre {  
 background-color: rgba(128,128,128,.1);
 padding: 1.5rem;
 font-size: .75rem;

}

blockquote {
  margin: 0 0 1.5rem 0;
  padding: 1.5rem;
  background-color: rgba(128,128,128,.1);
}

blockquote p {
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

blockquote p:last-child {
  margin-bottom: 0;
}

/* TODO: if the img is the only child in img */
p > img {
  max-width:100%; height:auto; 
  position: relative; margin:0 auto;        

  outline: 1px solid red;
}

p, ol, ul {
  width: 60vw;
}


/*
 * specific stuff — header
 */ 

.content {
  /*padding-top: 2rem;*/
}



.separated:after { 
  display: block; 
  content: "—";
  margin-left: .5%;
  line-height: 1;
  margin-bottom: 3rem;
 }


.sub-header-text { /* gray subheader on top */ 
  color: gray; 
  /*width: 26%;*/
}



.content > header .sub-header {
  display: flex;
  line-height: 1.5; 
  font-size: 1rem;
  align-items: center;
}


.sub-header nav {
  flex: 1;
  text-align: right;
}

.sub-header nav button {
  line-height: 1.5;
  vertical-align: middle;
  font-size: 1rem;
}


.content > header nav a {
  /*font-weight: bolder;*/
  /*position: relative;
  left: 0; top: -2px;*/
}


/*.content > header:hover .sub-header { visibility: visible; }*/

.content > header .main-header,
.content > header .secondary-header {
  font-weight: bolder;
}

.content > header .main-header {
  display: block;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;

  font-size: 4rem;
  letter-spacing: .1rem;
  /*line-height: 1.2;*/

}



/**
 * footer
 */

.content > footer {

  margin-top: 3rem;
  text-align: right;
  
  padding: 1.5rem 0 1.5rem 0;
  color: gray;
  line-height: 1rem; font-size: .75rem;
  
}


/*
 * drink responsibly.
 */


@media (min-width:960px) {
  body {
    /* working area padding  */
    margin: 1.61538rem 3rem 0 2.75rem;
  }


}


@media (max-width:960px) {

  html {
    font-size: 2.5vw;
  }  

  body {
    margin: 1rem 2rem 0 1.5rem;
  }


  hr, p, ol, ul { width: 90%; }

  .separated:after { /* color: blue; /*content: "< 960px;"*/ }
 
}

@media (max-width:600px) {

  html {
    font-size: 4vw;
  }  

  body {
    margin: 1rem 2rem 0 1.5rem;
  }

  hr, p, ol, ul { width: 95%; }
  
  .content > header .main-header {
    font-size: 2rem;
  }

  ol, ul {
    list-style-position: inside;

    padding-left: 0;
    margin-left: 0;
  }

/*ol li, ul li {
  padding: 0;
  margin: 0;
}*/


  /*ol, ul {
    margin-left: 0;
  }*/

  .separated:after { /* color: red; /*content: "< 600px;"*/ }

}



/**
 * grid debbugging
 */

#showGrid {
  /*position: absolute;
  right: 1vw;
  top: 1vw;*/
}

.grid {
  pointer-events: none;
  position: fixed;/*absolute;*/
  top: 0; left: 0;
}

.grow {
  display: flex;
  flex-wrap: nowrap;
}

.g5, .g10 {
  box-sizing: border-box;
  border: 1px dashed rgba(0,255,128,.35);
  border-top: 1px solid transparent;
  border-left: none;
  height: 1.5rem;
}

.g10 {
  width: 10vw;
}

.g5 {
  width: 5vw;
}

#status { display: none; } 


section {
  margin-bottom: 1rem;
}

section header {
  font-weight: bolder;
  margin-bottom: .33rem;
}


aside {
  display: flex;
  margin-bottom: 2rem;
}

/*aside:after {
  content: " ";
  width: 100%;
} */

aside section {
  margin-right: 3rem;
}

aside section a {
  display: inline-block;
}

.icon {
  margin-left: .33rem;

}

/*aside section a .icon {
  margin-right: .33rem;
  font-size: 80%;
  line-height: 1;
}*/

.blog-posts {
}

.blog-posts > header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.blog-posts > header .icon {
  margin-left: .33rem;
}

.blog-posts > article {
  display: flex;
  margin-bottom: 1.5rem;
}


.aside {
  float: right;
  width: 20vw;
  background-color: rgba(0,0,0,.1);
}

.aside p {
  font-size: .75rem; 
  line-height: 1.5rem;
  padding-left: .5rem;
  padding-top: .3333rem;
}


nav {
  display: flex;  
  flex-flow: row wrap;
  width: 90vw;
}

nav a {
  margin-right: .5rem;
}

nav a.back {
 margin-right: auto;
}



/* CV */

.education span:first-child {
  float: right;
  display: inline;
}

.education span:last-child {
  max-width: 85%;
  display: block;

  white-space: pre-wrap;
  margin-left: 1rem;
}

.education header:nth-of-type(2) {
  outline: 1px solid red;
  display: none;
}

.work {

}

.work section {
  margin-bottom: 1rem;
}

.work section header {
  display: none;
  font-weight: bold;
}

.work section .dates {
  /*float: right;*/
  display: block;
}

.work section .employer {
  display: inline;
  font-style: oblique;;
}

.work section .employer:before {
  content: " @ ";
}

.work .position {
  font-weight: 800;
}





