body {
  margin: 0 auto;
  width: 720px;

  font-family: Helvetica;
  font-weight: 300;

  line-height: 150%;

  font-size: .9rem;
}


article {
  margin-bottom: 1rem;
}

article > header {
  font-weight: 400;
  font-size: 1.2rem;

  line-height: 2.5rem;


  /*margin-top: .5rem;
  padding-bottom: .25rem;*/

}

.work > section {
  margin-left: 2rem;
}

/* grid */




.third {
  display: inline-block;
  vertical-align: top;
  font-size: .8rem;
}

.col1 {
  width: 30%;
  margin-right: 2%;

}

.col2 {
  width: 30%;
  margin-right: 2%;

}

.col2_3 {
  width: 60%;
  margin-right: 2%;

}


.col3 {
  width: 30%;
  margin-right: 2%;

}


.third header {
  font-weight: 400;
  font-size: 1rem;

}

.third ul {
  list-style: none;
  margin: 0;
  padding-right: .5rem;
}

.third p {
  line-height: 150%;
  margin: 0;

  -ms-word-break: keep-all;
  word-break: keep-all;

  // Non standard for webkit
  word-break: keep-word;

  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;

}


.profile {
  margin-top: 3rem;
}


.profile header {
  font-weight: 900;
  font-size: 2rem;
  line-height: 100%;

  text-shadow: 2px 2px 0px rgba(150, 150, 150, 0.25);
}


.profile .photo {
  width: 13.2rem;
  float: right;
}





.addr {
  font-size: .9rem;
  margin-left: 2rem;

  line-height: 140%;

}

.addr span:first-child {
  float: left;
  margin-right: .5rem;
  font-weight: bolder;
}

.addr span:first-child:after {
  content: ":";
}


.addr p {
  line-height: 150%;
  margin: 0;
}






.main {
}





.moar-details {
}



#pdf {
  position: absolute;
  top: .5rem;
  right: 1rem;

}
