body {
        margin: 0 auto;
        width: 720px;
  
  
	font-family: Helvetica;
	font-weight: 300;

	line-height: 150%;

	font-size: .9rem;

}

article {
/*	outline: 1px solid red;*/
	margin-bottom: 1rem;
}

article > header {
/*	outline: 1px solid blue;*/
	font-weight: 400;
	font-size: 1.25rem;

	margin-top: .5rem;
	padding-bottom: .25rem;

}

/*article > header:after {
	content: ":";
}
*/

.addr {
	font-size: .9rem;
	margin-left: 1rem;
	line-height: 140%;
}

.addr span:first-child {
	float: left;
	margin-right: .5rem;
	font-weight: bolder;
}

.addr span:first-child:after {
	content: ":";
}


.addr p {
	line-height: 150%;
	margin: 0;
}

.work {

}

.work section {
	margin-bottom: 1rem;
}

.work section header {
	display: none;
	font-weight: bold;
}

.work section .dates {
	/*float: right;*/
	display: block;
}

.work section .employer {
	display: inline;
}

.work section .employer:before {
	content: " @ ";
}

.work section .position {
	font-weight: 500;
}

.main {
}

.photo {
	width: 10rem;
	float: right;
	/*position: absolute;
	top: 0;
	right: 0;*/

	
}

.education span:first-child {
	float: right;
	display: inline;
	/* vertical-align: super;
	font-size: .5rem;	
	line-height: 150%; */
}

.education span:last-child {
	max-width: 85%;
	display: block;

	white-space: pre-wrap;
	margin-left: 1rem;
	/*background-color: red;*/
}

.education header:nth-of-type(2) {
	outline: 1px solid red;
	display: none;

}

.third {
	display: inline-block;
	vertical-align: top;
	font-size: .8rem;
}

.col1 {
	width: 30%;
	margin-left: 2%;

}

.col2 {
	width: 30%;
	margin-left: 2%;

}

.col3 {
	width: 30%;
	margin-left: 2%;

}


.third header {
	font-weight: 400;
	font-size: 1rem;

}

.third ul {
	list-style: none;
	margin: 0;
	padding-left: .5rem;
}

.third p {
	line-height: 150%;
	margin: 0;

-ms-word-break: keep-all;
     word-break: keep-all;

     // Non standard for webkit
     word-break: keep-word;

-webkit-hyphens: manual;
   -moz-hyphens: manual;
        hyphens: manual;

}

#pdf {
	position: absolute;
	top: .5rem;
	right: 1rem;


}